{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Hoppi's Movie Dashboard</h2>
						<h5 class="text-white op-7 mb-2">If that cat had nine lives, he just spent 'em all. - Cousin Eddie</h5>
					</div>

				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			<div class="row mt--2">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Popular Movies Today</div>
							<div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
								<div class="px-2 pb-2 pb-md-0 text-center">
								{% for p in popular %}
                				{% if loop.index == 1 %}
									<div class="circular--portrait">
									
										<img id= "mostpopular" src="https://image.tmdb.org/t/p/w500/{{ p['Poster'] }}" tabindex="0" data-toggle="popover" data-trigger="focus" title="{{  p['Name'] }}" data-content="{{  p['Description']  }} <a href='https://www.youtube.com/watch?v={{  p['Movie ID']  }}' target={{ p['Provider_Info']}}><br></br></a>" data-html="true" onclick="more_info(this)" />
									</div>
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="{{  p['Name'] }}">Open modal for {{  p['Name'] }}</button>
									<h6 id="popular_1" class="fw-bold mt-3 mb-0">{{ p['Name'] }}</h6>
										<p>Rating: {{ p['Rating'] }}/10</p>
										<span hidden = "true" id='snaphot_platform' class="badge badge-info">{{ p['Provider_Info'] }}</span>
										{% for network in p['Provider_Info'] %}
										<p hidden id="popular_1_providers_logos" src="https://image.tmdb.org/t/p/original/{{ network['Logo'] }}" height='25px' width='25px'>
										{% endfor %}
										<br></br>
										{% for network in p['Provider_Info'] %}
										<span hidden id="popular_1_provider_names" class="badge badge-info">{{ network['Networks'] }}</span>
										{% endfor %}
									</div>
								{% endif %}
                				{% endfor %}
								<div class="px-2 pb-2 pb-md-0 text-center">
								{% for p in popular %}
                				{% if loop.index == 2 %}
									<div class="circular--portrait">
										<img src="https://image.tmdb.org/t/p/w500/{{ p['Poster'] }}" tabindex="0" data-toggle="popover" data-trigger="focus" title="{{  p['Name'] }}" data-content="{{  p['Description']  }} <a href='https://www.youtube.com/watch?v={{  p['Movie ID']  }}' target='player'><br></br></a>" data-html="true" onclick="more_info(this)" />
									</div>
								<h6 class="fw-bold mt-3 mb-0">{{ p['Name'] }}</h6>
									<p>Rating: {{ p['Rating'] }}/10</p>
									<span hidden="true" id='snaphot_platform' class="badge badge-info">{{ p['Provider_Info'] }}</span>
								</div>
								{% endif %}
                				{% endfor %}
								<div class="px-2 pb-2 pb-md-0 text-center">
								{% for p in popular %}
                				{% if loop.index == 3 %}
									<div class="circular--portrait">
										<img src="https://image.tmdb.org/t/p/w500/{{ p['Poster'] }}" tabindex="0" data-toggle="popover" data-trigger="focus" title="{{  p['Name'] }}" data-content="{{  p['Description']  }} <a href='https://www.youtube.com/watch?v={{  p['Movie ID']  }}' target='player'><br></br></a>" data-html="true" onclick="more_info(this)" />
									</div>
									<h6 class="fw-bold mt-3 mb-0">{{ p['Name'] }}</h6>
										<p>Rating: {{ p['Rating'] }}/10</p>
										<span hidden ="true" id='snaphot_platform' class="badge badge-info">{{ p['Provider_Info'] }}</span>
								</div>
								{% endif %}
                				{% endfor %}					
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							{% for p in popular %}
                			{% if loop.index == 1 %}
							<div id="snapshot_title" class="card-title">{{ p['Name'] }}</div>
							{% endif %}
                			{% endfor %}
							<div class="row py-3">
								</div>
								<div class="col-xl-8">
									<div id="container">
										<div>
										<div>
											<div></div>
												<div class="card-footer bg-transparent border-success">
												<h6 class="fw-bold text-uppercase text-danger op-8">Watch On</h6>
												
					
												<!--<img src="https://image.tmdb.org/t/p/original/network['Logo']" height='25px' width='25px'>-->
												
												<br></br>
												
												<!--<span id='snaphot_platform' class="badge badge-info">p['Provider_Info']</span>-->
												
								
										</div>
										</div> 
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Search Results</h4>
								<div class="form-group">
								<form class="navbar-left navbar-form nav-search mr-md-3" aria-expanded="true" role="form" method="post" action="">  
									<div class="input-icon">
									<span class="input-icon-addon">
									<button type="submit" class="btn btn-search pr-1">
									</button>
									</span>
								</div>
							</div>                
							<div class="input-group">
							{{ form.movie(placeholder="Search For Movies", class="form-control") }}
								<div class="input-group-prepend">
									<button type="submit" class="btn btn-search pr-1">
										<i class="fa fa-search search-icon"></i>
									</button>
								</div>
							</form>
							</div>
						</div>
						<div class="card-body">

							<div class="table-responsive">
								<table id="multi-filter-select" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>Title</th>
											<th>Rating</th>
											<th>Release Date</th>
											<th>More Info</th>
											<th>Popularity</th>
											<th hidden="true">Trailer</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Title</th>
											<th>Rating</th>
											<th>Release Date</th>
											<th>More Info</th>
											<th>Popularity</th>
											<th hidden="true">Trailer</th>
										</tr>
									</tfoot>
									<tbody>
										{% for movie in result %}
										<tr>
											<td>{{ movie['Name'] }}</td>
											<td>{{ movie['Rating'] }}</td>
											<td>{{ movie['Release Date'] }}</td>
											<td>
												<div class="circular--portrait">	
													<img id="result_id" src="https://image.tmdb.org/t/p/w500/{{ movie['Poster'] }}" tabindex="0" title="{{  movie['Name'] }}" data-content="{{  movie['Description']  }} <a href='https://www.youtube.com/watch?v={{  movie['Movie ID']  }}' target='player'><br></br></a>" data-html="true" onclick="more_info(this)" /></td>
												</div>
											</td>
											<td>{{ movie['Popularity'] }}</td>
											
											<td hidden="true"></div>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-primary">
						<div class="card-header">
							<div class="card-title">Daily Sales</div>
							<div class="card-category">March 25 - April 02</div>
						</div>
						<div class="card-body pb-0">
							<div class="mb-4 mt-2">
								<h1>Hello</h1>
							</div>
							<div class="pull-in">
								<canvas id="dailySalesChart"></canvas>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body pb-0">
							<div class="h1 fw-bold float-right text-warning">+7%</div>
							<h2 class="mb-2">213</h2>
							<p class="text-muted">Transactions</p>
							<div class="pull-in sparkline-fix">
								<div id="lineChart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-card-no-pd">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<h4 class="card-title">Users Geolocation</h4>
								<div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-angle-down"></span></button>
									<button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span class="fa fa-sync-alt"></span></button>
									<button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-times"></span></button>
								</div>
							</div>
							<p class="card-category">
							Map of the distribution of users around the world</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<div class="table-responsive table-hover table-sales">
										<table class="table">
											<tbody>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/id.png" alt="indonesia">
														</div>
													</td>
													<td>Indonesia</td>
													<td class="text-right">
														2.320
													</td>
													<td class="text-right">
														42.18%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/us.png" alt="united states">
														</div>
													</td>
													<td>USA</td>
													<td class="text-right">
														240
													</td>
													<td class="text-right">
														4.36%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/au.png" alt="australia">
														</div>
													</td>
													<td>Australia</td>
													<td class="text-right">
														119
													</td>
													<td class="text-right">
														2.16%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/ru.png" alt="russia">
														</div>
													</td>
													<td>Russia</td>
													<td class="text-right">
														1.081
													</td>
													<td class="text-right">
														19.65%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/cn.png" alt="china">
														</div>
													</td>
													<td>China</td>
													<td class="text-right">
														1.100
													</td>
													<td class="text-right">
														20%
													</td>
												</tr>
												<tr>
													<td>
														<div class="flag">
															<img src="/static/assets/img/flags/br.png" alt="brazil">
														</div>
													</td>
													<td>Brasil</td>
													<td class="text-right">
														640
													</td>
													<td class="text-right">
														11.63%
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mapcontainer">
										<div id="map-example" class="vmap"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Top Products</div>
						</div>
						<div class="card-body pb-0">
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">CSS</h6>
									<small class="text-muted">Cascading Style Sheets</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$17</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">J.CO Donuts</h6>
									<small class="text-muted">The Best Donuts</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$300</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct3.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">Ready Pro</h6>
									<small class="text-muted">Bootstrap 4 Admin Dashboard</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$350</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="pull-in">
								<canvas id="topProductsChart"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title fw-mediumbold">Suggested People</div>
							<div class="card-list">
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Jimmy Denis</div>
										<div class="status">Graphic Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/chadengle.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Chad</div>
										<div class="status">CEO Zeleaf</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Talha</div>
										<div class="status">Front End Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/mlane.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">John Doe</div>
										<div class="status">Back End Developer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Talha</div>
										<div class="status">Front End Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Jimmy Denis</div>
										<div class="status">Graphic Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-primary bg-primary-gradient">
						<div class="card-body">
							<h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">Active user right now</h4>
							<h1 class="mb-4 fw-bold">17</h1>
							<h4 class="mt-3 b-b1 pb-2 mb-5 fw-bold">Page view per minutes</h4>
							<div id="activeUsersChart"></div>
							<h4 class="mt-5 pb-3 mb-0 fw-bold">Top active pages</h4>
							<ul class="list-unstyled">
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/readypro/index.html</small> <span>7</span></li>
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/atlantis/demo.html</small> <span>10</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-title">Feed Activity</div>
						</div>
						<div class="card-body">
							<ol class="activity-feed">
								<li class="feed-item feed-item-secondary">
									<time class="date" datetime="9-25">Sep 25</time>
									<span class="text">Responded to need <a href="#">"Volunteer opportunity"</a></span>
								</li>
								<li class="feed-item feed-item-success">
									<time class="date" datetime="9-24">Sep 24</time>
									<span class="text">Added an interest <a href="#">"Volunteer Activities"</a></span>
								</li>
								<li class="feed-item feed-item-info">
									<time class="date" datetime="9-23">Sep 23</time>
									<span class="text">Joined the group <a href="single-group.php">"Boardsmanship Forum"</a></span>
								</li>
								<li class="feed-item feed-item-warning">
									<time class="date" datetime="9-21">Sep 21</time>
									<span class="text">Responded to need <a href="#">"In-Kind Opportunity"</a></span>
								</li>
								<li class="feed-item feed-item-danger">
									<time class="date" datetime="9-18">Sep 18</time>
									<span class="text">Created need <a href="#">"Volunteer Opportunity"</a></span>
								</li>
								<li class="feed-item">
									<time class="date" datetime="9-17">Sep 17</time>
									<span class="text">Attending the event <a href="single-event.php">"Some New Event"</a></span>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Support Tickets</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link" id="pills-today" data-toggle="pill" href="#pills-today" role="tab" aria-selected="true">Today</a>
										</li>
										<li class="nav-item">
											<a class="nav-link active" id="pills-week" data-toggle="pill" href="#pills-week" role="tab" aria-selected="false">Week</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-month" data-toggle="pill" href="#pills-month" role="tab" aria-selected="false">Month</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-info">J</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Joko Subianto <span class="text-warning pl-3">pending</span></h6>
									<span class="text-muted">I am facing some trouble with my viewport. When i start my</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">8:40 PM</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-offline">
									<span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Prabowo Widodo <span class="text-success pl-3">open</span></h6>
									<span class="text-muted">I have some query regarding the license issue.</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">1 Day Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-away">
									<span class="avatar-title rounded-circle border border-white bg-danger">L</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Lee Chong Wei <span class="text-muted pl-3">closed</span></h6>
									<span class="text-muted">Is there any update plan for RTL version near future?</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Days Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-offline">
									<span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Peter Parker <span class="text-success pl-3">open</span></h6>
									<span class="text-muted">I have some query regarding the license issue.</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Day Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-away">
									<span class="avatar-title rounded-circle border border-white bg-danger">L</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Logan Paul <span class="text-muted pl-3">closed</span></h6>
									<span class="text-muted">Is there any update plan for RTL version near future?</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Days Ago</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		

			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>

			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">New message</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Recipient:</label>
						<input type="text" class="form-control" id="recipient-name">
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">Message:</label>
						<textarea class="form-control" id="message-text"></textarea>
					</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Send message</button>
				</div>
				</div>
			</div>
			</div>



    <!-- this is outer div element -->
    <div id="d1"> 
        <!-- this is inner div element -->
        <div>This is a div element </div> 
        <!-- this is paragraph element -->
        <p style="background-color:lightgreen">This is a paragraph</p> 
    </div> 
    <div id="d2" /> 

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script> 
function handler( event ) {
  var target = $( event.target );
  if ( target.is( "li" ) ) {
    target.children().toggle();
  }
}
$( "ul" ).click( handler ).find( "ul" ).hide();
</script> 

<script>
function rating_update(elem){
    
    var update_value = elem.getAttribute('data-original-title'); //GRAB HTML WITH MOVIE TITLE
    var title_elem = document.getElementById("rating_title"); //GRAB CURRENT FIELD WITH RATING "NA" PLACEHOLDER 
    var rating_elem= document.getElementById("rating_score"); //GRAB CURRENT FIELD WITH TITLE "NO MOVIE SELECTED" PLACEHOLDER
    var content = title_elem.innerHTML;
    title_elem.innerHTML= update_value;
    var string = elem.innerHTML; 
    var result = string.match(/<td>\d.\d<[/]td>/g);
    if (result == null){
        result = string.match(/<td>\d<[/]td>/g);
    }
    rating_elem.innerHTML = result;
    var new_rating= rating_elem.innerHTML;
    var result = new_rating.match(/\d.\d/g);
    if (result == null){
        result = new_rating.match(/\d\d|\d/g);
    }

    //EDIT THE PROGRESS BAR FOR RATING
    var prog = parseFloat(result[0]);
    var new_width = (prog*10).toString();
    final_width = new_width.concat("%")
    document.getElementById("rating_progbar").style["width"] = final_width;

    //CHANGE THE TRAILER TO THE CURRENT SELECTION
    var trailer_unparsed = elem.getAttribute('data-content'); //GRAB HTML WITH YOUTUBE URL
    var trailer_parsed = trailer_unparsed.match(/(?<!=)=(?!=)[a-zA-Z0-9_.-]*/g);
    var trailer_url_no_equals = trailer_parsed[1].match(/[a-zA-Z0-9_.-]*/g);
    document.getElementById("ytplayer").src = "https://www.youtube.com/embed/".concat(trailer_url_no_equals[1])
}
</script>

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>
<script>
///start update trailer
function more_info(elem) {
	console.log(elem);
	var movie_title = elem.getAttribute('data-original-title');
    var trailer_unparsed = elem.getAttribute('data-content'); //GRAB HTML WITH YOUTUBE URL
	var description = trailer_unparsed.match(/^[\s\S]*?(?=<a)/g);
	console.log(description);
	var trailer_parsed = trailer_unparsed.match(/(?<!=)=(?!=)[a-zA-Z0-9_.-]*/g);
    var trailer_url_no_equals = trailer_parsed[1].match(/[a-zA-Z0-9_.-]*/g);
	var slider = document.createElement("input");
	slider.type = "range"
	swal({
		title: movie_title,
		text: description[0],
		button: 'Close Info',
		content: {
			element: "iframe",
			attributes: {
				width: '100%', 
				height: '100%', 
				src: 'https://www.youtube.com/embed/'.concat(trailer_url_no_equals[1]), 
				frameborder :'0',
				enablejsapi: 1,
            	disablekb: 1,
            	showinfo: 0,
            	controls: 0,
            	fs: 0,
			},
		content: slider,		 
		} 
	});
}
</script>

<script>

$('#multi-filter-select').DataTable( {
	"order": [[ 5, "desc" ]],
	"pageLength": 5,
	initComplete: function () {
		this.api().columns().every( function () {
			var column = this;
			console.log(column)
			var select = $('<select class="navbar-left navbar-form nav-search mr-md-3"><option value=""></option></select>')
			.appendTo( $(column.footer()).empty() )
			.on( 'change', function () {
				var val = $.fn.dataTable.util.escapeRegex(
					$(this).val()
					);

				column
				.search( val ? '^'+val+'$' : '', true, false )
				.draw();
			} );

			column.data().unique().sort().each( function ( d, j ) {
				select.append( '<option value="'+d+'">'+d+'</option>' )
			} );
		} );
	}
});

</script>

<script> 
let x = document.querySelectorAll(".myDIV"); 
for (let i = 0, len = x.length; i < len; i++) { 
	let num = Number(x[i].innerHTML) 
				.toLocaleString('en'); 
	x[i].innerHTML = num; 
	x[i].classList.add("currSign"); 
} 
</script> 


{% endblock javascripts %}
